h1 {
    background-image: url('./CantorDaniel.png');
    opacity : 0.5;
    background-color: rgb(85, 145, 235);
    margin: 0px;
    padding: 70px;   
}

h2{
    background-color: rgb(166, 166, 247);
    text-align: center;
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

P {
    color: rgb(17, 16, 17);
    padding: 15px;
    text-align: justify;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(150, 114, 161);
    border-radius: 10px;
}

nav{
    background-image: url('./Daniel.jpg');
    background-position: left;
    background-repeat: repeat-x;
    width: 100%;
    height: 200px;
}